<div>
    <h1>Register <button class="btn pull-right" ui-sref="login">Already registered? Login</button></h1>
    <form name="registrationForm" ng-submit="register(user)">
        <div class="form-group">
            <label for="user-firstName" class="col-xs-3">First Name</label>
            <span class="error" ng-show="firstNameError">First name is required</span>
            <input type="text" id="user-firstName" class="form-control" ng-model="firstName" name="firstName"/>
            <label for="user-lastName" class="col-xs-3">Last Name</label>
            <span class="error" ng-show="lastNameError">Last name is required</span>
            <input type="text" id="user-lastName" class="form-control" ng-model="lastName" name="lastName"/
        </div>
        <div class="form-group">
            <label for="user-username" class="col-xs-3">Desired Username</label>
            <span class="error" ng-show="usernameError">Username is required</span>
            <input type="text" id="user-username" class="form-control" ng-model="username" name="username"/>
        </div>
        <div class="form-group">
            <label for="user-password" class="col-xs-3">Password</label>
            <span class="error" ng-show="passwordError">Password is required</span>
            <input type="text" id="user-password" class="form-control" ng-model="password" name="password"/>
        </div>
        <div class="form-group">
            <label for="user-email" class="col-xs-3">Email</label>
            <span class="error" ng-show="emailError">Email is required</span>
            <input type="text" id="user-email" class="form-control" ng-model="email" name="password"/>
        </div>
        <div class="form-group">
            <label for="user-birthday" class="col-xs-3">Birthday</label>
            <input type="date" id="user-birthday" class="form-control" ng-model="birthday" name="birthday"/>
        </div>
        <hr />
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-default" ng-click="clearFields()">Clear</button>
        </div>
    </form>
</div>