<div>
    <h1>Register <button class="btn pull-right" ui-sref="login">Cancel</button></h1>
    <h4>Fields with asterisks are required</h4>
    <form name="registrationForm" ng-submit="register()">
        <div class="form-group">
            <label for="user-username" class="col-xs-2">Desired Username *</label>
            <span class="error" ng-show="usernameError">{{ usernameErrorMessage }}</span>
            <input type="text" id="user-username" class="form-control" ng-change="checkUsername()" ng-model="username" name="username"/>
        </div>
        <div class="form-group">
            <label for="user-password" class="col-xs-2">Password *</label>
            <span class="error" ng-show="passwordError">{{ passwordErrorMessage }}</span>
            <input type="password" id="user-password" class="form-control" ng-change="checkPassword()" ng-model="password" name="password"/>
        </div>
        <div class="form-group">
            <label for="user-confirm-password" class="col-xs-2">Confirm Password *</label>
            <span class="error" ng-show="passwordMatchError">* Passwords must match *</span>
            <input type="password" id="user-confirm-password" class="form-control" ng-change="comparePasswords()" ng-model="confirmPassword" name="confirmPassword"/>
        </div>
        <div class="form-group">
            <label for="user-firstName" class="col-xs-2">First Name</label>
            <input type="text" id="user-firstName" class="form-control" ng-model="firstName" name="firstName"/>
            <label for="user-lastName" class="col-xs-2">Last Name</label>
            <input type="text" id="user-lastName" class="form-control" ng-model="lastName" name="lastName"/>
        </div>
        <div class="form-group">
            <label for="user-email" class="col-xs-2">Email *</label>
            <span class="error" ng-show="emailError">{{ emailErrorMessage }}</span>
            <input type="text" id="user-email" class="form-control" ng-model="email" name="password"/>
        </div>
        <hr />
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-default" ng-click="clearFields()">Clear</button>
        </div>
    </form>
</div>