<div>
    <h1>Login <button class="btn pull-right" ui-sref="register">Register an account</button></h1>
    <div class="form-group">
        <label for="user-username" class="col-xs-3">Username</label>
        <input type="text" id="user-username" class="form-control" ng-model="username" name="username"/>
    </div>
    <div class="form-group">
        <label for="user-password" class="col-xs-3">Password</label>
        <input type="password" id="user-password" class="form-control" ng-model="password" name="password"/>
    </div>
    <hr />
    <div>
        <button class="btn btn-primary" type="submit" ng-click="login()">Log in</button>
        <span class="error" ng-show="loginFailed">{{ loginFailMessage }}</span>
    </div>
</div>