<div>
  <form name="userForm" ng-submit="submit(user)">
	  <div class="form-group">
	      <label for="user-fullName" class="col-xs-3">Full Name</label>
	      <input type="text" id="user-fullName" class="form-control" ng-model="user.fullName" name="fullName"/>
	  </div>
	  <div class="form-group">
	      <label for="user-birthday" class="col-xs-3">Birthday</label>
	      <input type="date" id="user-birthday" class="form-control" ng-model="user.birthday" name="birthday"/>
	  </div>
    <hr />
	  <div>
	     <button class="btn btn-primary" type="submit">Submit</button>
       <a class="btn btn-default" ui-sref="user">Cancel</a>
	  </div>
  </form>
</div>