<div>
    <span>
        <h1 style="display:inline;">Edit user</h1>
        <button class="btn pull-right" id="logoutButton" ng-click="logout()">Logout</button>
    </span>
    <h4>Fields with asterisks are required</h4>
    <br><br>
  <form name="userForm" ng-submit="submit(oldId, user)">
    <div class="form-group">
        <label for="user-id" class="col-xs-3">ID</label>
        <input type="text" id="user-id" class="form-control" ng-model="user.id" name="id"/>
    </div>
	  <div class="form-group">
	      <label for="user-firstName" class="col-xs-3">First Name</label>
	      <input type="text" id="user-firstName" class="form-control" ng-model="user.firstName" name="firstName"/>
	  </div>
      <div class="form-group">
          <label for="user-lastName" class="col-xs-3">Last Name</label>
          <input type="text" id="user-lastName" class="form-control" ng-model="user.lastName" name="lastName"/>
      </div>
      <div class="form-group">
          <label for="user-username" class="col-xs-3">Username</label>
          <input type="text" id="user-username" class="form-control" ng-model="user.username" name="username"/>
      </div>
      <div class="form-group">
          <label for="user-password" class="col-xs-3">Password</label>
          <input type="text" id="user-password" class="form-control" ng-model="user.password" name="password"/>
      </div>
      <div class="form-group">
          <label for="user-active" class="col-xs-3">Active</label>
          <input type="checkbox" id="user-active" class="form-control" ng-model="user.active" name="active"/>
      </div>
      <div class="form-group">
          <label for="user-role" class="col-xs-3">Role</label>
          <input type="text" id="user-role" class="form-control" ng-model="user.role" name="role"/>
      </div>
	  <div class="form-group">
	      <label for="user-birthday" class="col-xs-3">Birthday</label>
	      <input type="date" id="user-birthday" class="form-control" ng-model="user.birthday" name="birthday"/>
	  </div>
    <div class="form-group">
        <label for="user-createdOn" class="col-xs-3">Created On</label>
        <input type="datetime-local" id="user-createdOn" class="form-control" ng-model="user.createdOn" name="createdOn"/>
    </div>
    <hr />
	  <div>
	     <button class="btn btn-primary" type="submit">Submit</button>
       <a class="btn btn-default" ui-sref="user-profile({userId:oldId})">Cancel</a>
	  </div>
  </form>
</div>